<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layout" value="${longdate} ${message}"/>
  <targets>
    <target name="devicelogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T5CANFlasher/deviceLog${shortdate}.txt" keepFileOpen="true"  layout="${layout}" />
    
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="T5CANLib.*" level="Debug" writeTo="devicelogfile" />

    <logger name="T5CANLib.*" level="Debug" writeTo="debugger" />
  </rules>
</nlog>