<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="layout" value="${longdate} ${message}"/>
  <targets>    
    <target name="canlogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/canLog${shortdate}.txt" keepFileOpen="true" layout="${layout}" />
    
    <target name="devicelogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/deviceLog${shortdate}.txt" keepFileOpen="true"  layout="${layout}" />
    
    <target name="kwplogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/kwpLog${shortdate}.txt" keepFileOpen="true" layout="${layout}" /> 
    
    <target name="flasherlogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/flasherLog${shortdate}.txt" keepFileOpen="true" layout="${layout}" />

    <target name="apilogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/apiLog${shortdate}.txt" keepFileOpen="true" layout="${layout} ${exception:format=tostring}" />
    
    <target name="uilogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T7/uiLog${shortdate}.txt" keepFileOpen="true" layout="${layout}" />

    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="TrionicCANLib.CAN.*" level="Trace" writeTo="canlogfile" />
    <logger name="TrionicCANLib.CAN.*" level="Debug" writeTo="devicelogfile" />
    <logger name="TrionicCANLib.KWP.*" level="Trace" writeTo="kwplogfile" />
    <logger name="TrionicCANLib.Flasher.*" level="Debug" writeTo="flasherlogfile" />
    <logger name="TrionicCANLib.API.*" level="Debug" writeTo="apilogfile" />
    <logger name="T7.*" minLevel="Trace" writeTo="uilogfile" />

    <!--<logger name="TrionicCANLib.CAN.*" level="Trace" writeTo="debugger" />-->
    <logger name="TrionicCANLib.CAN.*" level="Debug" writeTo="debugger" />
    <!--<logger name="TrionicCANLib.KWP.*" level="Trace" writeTo="debugger" />-->
    <logger name="TrionicCANLib.Flasher.*" level="Debug" writeTo="debugger" />
    <logger name="TrionicCANLib.API.*" level="Debug" writeTo="debugger" />
    <logger name="T7.*" minLevel="Trace" writeTo="debugger" />
  </rules>
</nlog>