<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="layout" value="${longdate} ${message}  ${exception:format=tostring}"/>
  <targets>
    <target name="uilogfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MattiasC/T5/uiLog${shortdate}.txt" keepFileOpen="true" layout="${layout}" />

    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="T5Suite2.*" minLevel="Trace" writeTo="uilogfile" />

    <logger name="T5Suite2.*" minLevel="Trace" writeTo="debugger" />
  </rules>
</nlog>